@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.navbar_all {
  display: flex !important;
  flex-direction: row !important;
}
.navbar_route {
  margin-top: 200px !important;
  margin-left: 50px !important;
}

.app-header {
  font-family: 'Dancing Script', cursive;
}

.app-subtitle {
  font-family: 'Dancing Script', cursive;
}
